@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}


.tag{
  @apply inline-flex items-center rounded-md border px-1.5 text-xs text-[10px] transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 text-foreground;
}


.h1 {
	display: inline-block;
	background-image: linear-gradient(90deg, #7ed56f, #28b485);
	-webkit-background-clip: text;
	color: transparent;
	letter-spacing: 1px;
	transition: all .2s;
}

.border1{
  --tw-border-opacity: 1;
    border-color: rgb(126 34 206/var(--tw-border-opacity));
}
.btn-primary{
 @apply  active:scale-95 inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 disabled:opacity-50 dark:focus:ring-slate-400 disabled:pointer-events-none dark:focus:ring-offset-slate-900 bg-zinc-900 text-zinc-100 hover:bg-zinc-800 py-2 px-4 ;
}

.btn-primary1{
    background: transparent linear-gradient(90deg, #01D57A 0%, #00CC9B 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 11px #7272723B;
    border: 1px solid #4BEFBC;
    border-radius: 8px;
    opacity: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    transition: all .3s ease;
    position: relative;
    padding: 5px;
    color: #fff;
}

.btn-primary1:hover{
  background: transparent -webkit-gradient(linear, left top, right top, from(#14EB8F), to(#00B78A)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #14EB8F 0%, #00B78A 100%) 0% 0% no-repeat padding-box;
  border: 1px solid #4BEFBC;
  border-radius: 8px;
  -webkit-box-shadow: 0px 10px 11px transparent;
  box-shadow: 0px 10px 11px transparent;
}

.logo-text{
  text-shadow: 2px 2px 6px #000;
  color: #fff;
}

.link{
  color: #7e22ce !important;
  font-weight: bold !important;
}



.hero {
  color: #25657E;
  height: 100vh;
  flex-direction: column;
  align-itens: left;
  justify-content: start;
  text-align: center;
  font-family: 'Onest', sans-serif;
}

.hero h2 {
  margin: 0 auto;
  font-weight: 900;
  font-size: 22px;
  line-height: 100%;
}

.text-bg-image {
  background-image:  url(https://images.unsplash.com/photo-1528722828814-77b9b83aafb2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color:  #ffffff;
  animation: animate-bg 30s ease infinite;
}

@keyframes animate-bg {
  0% {
    background-position: center 25%;
  }
  50% {
    background-position: center 50%;
  }
  100% {
    background-position: center 25%;
  }
}

.navbar{
  position: fixed;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.8;
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.btn-close:hover{
  rotate: 180%;
}

.text-shadow {
  font-size: 20px;
}

.button {
  align-items: center;
  background-color: #333740;
  background: transparent;
  border: 1px solid #7ed56f;
  border-radius: 0.4rem;
  color: #b1b8ca;
  color: #7ed56f;
  display: flex;
  font-family: Roboto,sans-serif;
  font-size: .9rem;
  font-weight: 500;
  height: 2.5rem;
  justify-content: center;
  padding: 0 0.8rem;
  text-decoration: none;
  text-shadow: #7ed56f 0 3px 5px;
  transition: all .4s cubic-bezier(.25,.46,.45,.94);
  width: 10rem;
}

.button:hover {
  background-color: #fff;
  border: 2px solid #7ed56f;
  box-shadow: 5px 5px 0 #7ed56f;
  color: #7ed56f;
}
.button:active {
  background-color: #7b1798;
  box-shadow: none;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}




.btn-pro {
  width: 100%;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  gap: 0.4rem;
  font-weight: bold;
  border-radius: 5px;
  text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
  background: linear-gradient(15deg, #880088, #aa2068, #cc3f47, #de6f3d, #f09f33, #de6f3d, #cc3f47, #aa2068, #880088) no-repeat;
  background-size: 300%;
  color: #fff;
  border: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: left center;
  box-shadow: 0 5px 2px -5px rgba(0,0,0,.2);
  transition: background .3s ease;
}

.btn-pro:hover {
  background-size: 320%;
  background-position: right center;
}

.btn-pro:hover svg {
  fill: #fff;
}

.btn-pro svg {
  width: 23px;
  fill: #f09f33;
  transition: .3s ease;
}

.animate-spin{
  color: #28b485;
  transition: .3s ease;
}



.description > button {
  width: 180px;
  height: 45px;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  margin-bottom: 50px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.description > button:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}